@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC|Anton|Pathway+Gothic+One|Patua+One|Righteous|Russo+One|Taviraj');
             
body {
    background-color: white;
    backgroulnd-color: rgb(255, 255, 140);
    font-family: "Patua One", Taviraj,  "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

#content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
            
img {
    max-width: 100%;
}
            
a {
    text-decoration: none;
}
            
body {
   
}

h1 {
    color: rgb(160, 0, 0);
    font-family: "Righteous", Impact,"Charcoal", sans-serif;
}

.divider {
	margin-bottom: 60px;
}

#p1 {
    padding-left: 15px;
}

.q1, .q3, .q5 {
	background-color: rgb(250,200,50);
    /*border: 5px rgb(160,0,0) solid;*/
}

#rivers  {
    width: 90%;
    background-color: rgb(250,200,50);
    margin: 0 auto;
    margin-bottom: 30px;
    /*border: 5px rgb(160,0,0) solid;*/
    border: 5px rgb(160,0,0) solid;
}

#title{
    font-size: 22px;
    display: inline-block;
    margin-left: 1.5em;
    margin-bottom: -1em;
}

#logo {
    background-color: white;
    position: relative;
    display: inline-block;
    margin-left: 1em;
    padding-top: .5em;
    padding-left: .4em;
    padding-bottom: .2em;
    width: 110px;
    border: 5px solid rgb(160, 0, 0);
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a: visited {
    color: purple;
    text-decoration: none;
}

.head {
	text-align: center;
}

.bar {
	height: 5px;
	background-color: rgb(240,230,120);
	width: 100%;
	margin-top: 2.5em;
}

div a {
	color: black;
}

#riverpic {
	margin: 15px 0px 0px 15px;
    float: right;
    width: 48%;
}

#riverpic1 {
	float: right;
	width: 48%;
	margin: 15px 0px 0px 15px;
}

#smallriverpic {
	margin: 15px 15px 0px 0px;
	width: 36%;
	float: left;
	margin-top: 10px;
}

.question {
    font-family: "Patua One", Taviraj,  "Palatino Linotype", "Book Antiqua", Palantino, serif;
	width: 100%;
	/*text-decoration: underline;
	text-decoration-color: rgb(160,0,0);*/
}

#rivers0, #rivers20{
	margin-top: -20px;
}

.q6 {
	margin-bottom: 10px;
}

.indentp {
	margin-top: 5px;
	margin-left: 30px;
}
.question a:hover {
	text-decoration: underline;
	color: darkblue;
}

nav a {
    margin: 5px;
    color: rgb(150, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /*color: rgb(255, 255, 140);*/
}

nav a:hover {
    text-decoration: underline;
    color: darksalmon;
}
  
nav {
    margin-top: -98px;
    padding-left: 90px;
    line-height: 3em;
    background-color: rgb(160, 0, 0);
    font-size: 1em;
}

@media (max-width: 400px) {
    nav {
        margin-top: -130px;
    }
    
    #logo {
        position: relative;
        top: 24px;
    }
}

@media (max-width: 589px) {
    #copyright {
        text-align: center;
        position: relative;
    }
    
    .social-media {
        margin: auto;
    }
}

#section-two {
    background-color: rgb(255,200,50); 
}

h2, h3, h4, h5, h6 {
    color: rgb(161, 0, 0);
    font-family: "Righteous", Impact,"Charcoal", sans-serif;
}
            
h2 {
    line-height: 1.5;
    margin-bottom: 5px;
}
            
.paragraph-two {
    color: rgb(0, 0, 0); 
}
        
section {
    padding: 15px;
}

#section-three {
    text-align: center;
}
            
.leftcolumn, .rightcolumn {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}
            
#section-four {
    background-color: rgb(160,0,0);
    padding: 15px;
    display: flex;
    clear: both;
    justify-content: space-between;
    flex-flow: row wrap;
}  

.fullwidth {
    margin-top: -20px;
}
            
#section-one, #section-two {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#icon1, #icon2, #icon3 {
    max-width: 30%;
    margin: .1em;
}

@media (min-width: 401px) {\
    #copyright {
        position: relative;
        top: 17px;  
    }
}