@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC|Anton|Pathway+Gothic+One|Patua+One|Righteous|Russo+One|Taviraj');
             
body {
    background-color: rgb(255, 255, 140);
}

#content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}
            
img {
    max-width: 100%;
}
            
a {
    text-decoration: none;
}
            
body {
    font-family: "Patua One", Taviraj,  "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

#logo {
    background-color: white;
    position: relative;
    display: inline-block;
    margin-left: 1em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a:link, nav a: visited {
    color: purple;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
            
nav {
    margin-top: -98px;
    padding-left: 90px;
    line-height: 3em;
    color: rgb(150, 0, 0);
    background-color: rgb(255, 200, 50);              font-size: 1.2em;
}

#section-two {
    background-color: rgb(255,200,50);*/ 
}

h1,
h2, h3, h4, h5, h6 {
    color: rgb(161, 0, 0);
    font-family: "Righteous", Impact,"Charcoal", sans-serif;
}
            
h2 {
    line-height: 1.5;
    margin-bottom: 5px;
}
            
.paragraph-two {
    color: rgb(160, 0, 0); 
}
        
section {
    padding: 15px;
}

#section-three {
    text-align: center;
}
            
.leftcolumn, .rightcolumn {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}
            
#section-four {
    clear: both;
    background-color: khaki;
}

.fullwidth {
    margin-top: -20px;
    max-width: 140%;
    margin-left: -40px;
    width: 112.5%
}
            
#section-one, #section-two {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
           
.icon {
    float: right;
    margin: 1em;
}
            
#copyright {
    display: flex;
    float: left;
}