@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC|Anton|Pathway+Gothic+One|Patua+One|Righteous|Russo+One|Taviraj');
             
body {
    background-color: white;
    background-color: rgb(255, 255, 140);
    font-family: "Patua One", Taviraj,  "Palatino Linotype", "Book Antiqua", Palantino, serif;
}

#content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
            
img {
    max-width: 100%;
}
            
a {
    text-decoration: none;
}
            
body {
   
}

#riverpic {
    float: right;
    width: 48%;
}

h1 {
    color: rgb(160, 0, 0);
    font-family: "Righteous", Impact,"Charcoal", sans-serif;
}

#p1 {
    padding-left: 15px;
}

#rivers {
    width: 90%;
    background-color: rgb(255, 200 ,50);
    margin: 0 auto;
    margin-bottom: 30px;
    border: 5px rgb(160,0,0) solid;
}

.mySlides {
    
}

#title{
    font-size: 25px;
    display: inline-block;
    margin-left: 1.5em;
    margin-top: -1em;
    margin-bottom: -1em;
}

#logo {
    background-color: white;
    position: relative;
    display: inline-block;
    margin-left: 1em;
    padding-top: .5em;
    padding-left: .4em;
    padding-bottom: .2em;
    width: 110px;
    border: 5px solid rgb(160, 0, 0);
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a: visited {
    color: purple;
    text-decoration: none;
}

nav a {
    margin: 5px;
    color: black;
    color: rgb(150, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /*color: rgb(255, 255, 140);*/
}

nav a:hover {
    text-decoration: underline;
    color: darksalmon;
}
  
nav {
    margin-top: -98px;
    padding-left: 90px;
    line-height: 3em;
    background-color: rgb(160, 0, 0);
    font-size: 1.2em;
}

@media (max-width: 400px) {
    nav {
        margin-top: -130px;
    }
    
    #logo {
        position: relative;
        top: 24px;
    }
}

@media (max-width: 589px) {
    #copyright {
        text-align: center;
        position: relative;
    }
    
    .social-media {
        margin: auto;
    }
}

#section-two {
    background-color: rgb(255,200,50); 
}

h2, h3, h4, h5, h6 {
    color: rgb(161, 0, 0);
    font-family: "Righteous", Impact,"Charcoal", sans-serif;
}
            
h2 {
    line-height: 1.5;
    margin-bottom: 5px;
}
            
.paragraph-two {
    color: rgb(0, 0, 0); 
}
        
section {
    padding: 15px;
}

#section-three {
    text-align: center;
}
            
.leftcolumn, .rightcolumn {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}
            
#section-four {
    background-color: rgb(160,0,0);
    padding: 15px;
    display: flex;
    clear: both;
    justify-content: space-between;
    flex-flow: row wrap;
}  

.fullwidth {
    margin-top: -20px;
}
            
#section-one, #section-two {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#icon1, #icon2, #icon3 {
    max-width: 30%;
    margin: .1em;
}

@media (min-width: 401px) {\
    #copyright {
        position: relative;
        top: 17px;  
    }
}